// color
$color-primary-0: #191919; // primary
$color-primary-1: #b61984; // button, hover
$color-primary-2: #fff;

// font size
$fs-1: 15px;
$fs-2: 0.8rem;
$fs-3: 0.9rem;
$fs-4: 1rem; // icon
$fs-5: 1.25rem;
$fs-6: 1.5rem;
$fs-7: 1.55rem;
$fs-8: 2.5rem;
$fs-9: 0.75rem;


// font weight
$fw-1: 400;
$fw-2: 500;
$fw-3: 600;
$fw-4: 700;

// border radius
$br-0: 50px; // button


//break points responsive
$breakpoints: (
    "extra-large": 1200px,
    "large": 992px,
    "medium": 768px,
    "small": 576px
);