.myCarousel {
    position: relative;
    z-index: 1;
    padding-top: 140px;
    padding: 0;
    height: 400px;
    max-width: 100%;
    @media screen and (max-width: $md) {
        padding-top: 30px;
        flex-wrap: wrap;
        height: 70vh;
    }
    @media screen and (max-width: $sm) {
        height: 110vh;
    }

    .myCarousel__bottom {
        position: absolute;
        bottom: 0;
        z-index: -1;
    }
    .myCarousel__left{
        padding-top: 70px;
        padding-left: 120px;
        span{
            @include text($color-primary-1, $fs-4 + 0.1, $fw-3);
            margin-bottom: 0.5rem;
        }
        h1 {
            @include text($color-primary-0, 3.8rem, $fw-4);
        }
        @media screen and (max-width: $lg) {
            h1 {
                font-size: 3.5rem;
            }
        }
    }
    @media screen and (max-width: $lg) {
        .myCarousel__left {
            padding: 0 30px;
        }
    }
    @media screen and (max-width: $md) {
        .myCarousel__left {
            max-width: 100%;
        }
    }
    .myCarousel__right{
        padding-left: 120px;
        margin-top: 150px;
        height: 580px;
        background-image: url(../../img/hero_team.png   );
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    @media screen and (max-width: $md) {
        .myCarousel__right {
            margin-top: -75px;
            margin-left: 280px;
        }
    }
    @media screen and (max-width: $sm) {
        .myCarousel__right {
            height: 100vh;
            max-width: 100%;
            margin: auto 0;
            padding-top: 40px;
        }
    }
    
}